# gitignore for A2MAC project
@ (c) by Tamas Rudnai

# logfiles
*.log
**/*.log

# XCode debugger settings
A2Mac.xcodeproj/xcuserdata/trudnai.xcuserdatad/xcdebugger/

convert_spkr_buf_to_wav.wav
steve2_audio_debug_ema.wav
steve2_audio_debug_raw.wav
steve2_audio_debug.wav
XPS_Aux_Mem_test.txt
XPS_Aux_Mem_test.txt.dis
Resources/rom/Downloads/Apple II  ROMs.zip
Resources/rom/Downloads/Apple II ROMs.zip
Resources/rom/Downloads/apple_2e_unenhanced_rom.zip
Resources/rom/Downloads/APPLE_IIe_ROM_KRK.zip
Resources/rom/Downloads/APPLE_IIe_ROM_KRK1.zip
Resources/rom/Downloads/APPLE_IIe_ROM_KRK2.zip
Resources/rom/Downloads/apple_iie_rom.zip
Resources/rom/Downloads/077-0026-0027 for IIe.zip
